.form-cadastro {
    flex-grow: 2;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    z-index: 1;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 12px 40px;    
  }
  .form-cadastro_input {
    margin-top: 8px;
    margin-bottom: 10px;
    padding: 4px;
    border: none;
    background-color: var(--fundo-detalhes);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    border-radius: 0px 15px 15px 15px;
    box-shadow: #00000060 5px 5px 5px;
  }
  
  .form-cadastro_submit {
    align-self: flex-end;
    width: 30%;
    background-color: rgba(0, 174, 255, 0.815)/*var(--secundaria)*/;
    color: white;
    font-weight: 400;
  }
  
  .form-cadastro_submit:active {
    background-color: var(--secundaria-ativa);
  }